body {
	background: url("../images/dogs.png");
	
}

img {
	max-height: 150px;
}

form {
	padding: 10px;
}

form,
.dogBtn {
	background-color: pink;
	color: black;
}

#newDogInput {
	color: black;
}

#addDog {
	background-color: purple;
	color: white;
	border: none;
}

.ratingStyle {
	color: white;
	background-color: black;
}

input {
	margin: 10px;
}

button {
	background-color: #caccce;
	
}

#dogButtons {
	margin: 10px;
}

.dogBtn {
	padding: 6px;
	margin: 3px;
	border: 1px solid black;
}

